<h5>Current Events</h5>
<input class="filterBar" type="text" [(ngModel)]="listFilter" placeholder="Filter by Event or League">

<div *ngIf="eventsList">
<div *ngFor="let event of filteredEvents">
<div (click)="Toggle(event.idEvent)" class="indivEvent">
    <p>{{event.strEvent}}</p>
    <p>{{event.strSport}} | {{event.strCountry}} | {{event.strLeague}}</p>
</div>
<div class="eventDetail">
  <app-event-detail id="eventDetail{{event.idEvent}}" [event]="event" style="display: none"></app-event-detail>
</div>
</div>
</div>
