.faveIndividual{
    padding: 5px;
    display: inline;
    color: black;
}

.faveBox{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
    background-color: #c5d6d8;
    margin-top:10px;
    /*overflow-x: scroll;*/
}

.faveBar{
    align-items: stretch;
    text-align: center;
    background-color: #c5d6d8;
    border-radius: 10px;
    border: 2px #008b49 solid;
}

img{
  border-radius: 4px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

img:hover {
  background-color: #afc6c9;
  color: white;
}


