.socialMedia{
    display:inline;
    padding: 20px;
}

.indivualTeam{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

.addFaveButton{
    padding: 5px;
    margin-left: 20px;
}

.banner{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: black 2px solid;
}

.bannerDiv{
    width: 100%;
}

.indivualTeam{
  align-items: stretch;
  text-align: center;
  background-color: #c5d6d8;
  border-radius: 10px;
  border: 2px #008b49 solid;
}

.bodyBox{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}

.pageImg{
    width: 500px; 
    border:2px black solid; 
    border-radius: 10px;
    margin:10px;
}

.fanartBox{
    margin-left: auto;
    margin-right: auto;
}

.teamHistory{
    max-width:75%;
    margin-left: auto;
    margin-right: auto;
}

.stadiumBox{
    min-width:500px;
}

.bottomInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}